* {
  margin: 0px;
  padding: 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  box-sizing: border-box;
  overflow-x: hidden;
  color:#b0b0b0;
  background-color: #333333;
}

header {
  width: 100vw;
  height:10vw;
  /* display: flex; */
  padding-top: 10px;
}

.pattaya-regular {
  font-family: "Pattaya", serif;
  font-weight: 400;
  font-style: normal;
}
.welcome {
  
}

.title {
  font-size:35pt;
  /* padding-left: 3em; */
  /* width: 40%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  /* width: 60%; */
  font-size: 18pt;
  display: flex;
  align-items:start;
  justify-content: center;
  /* border:1px, solid,red; */
}

/* Sample Colors */

.sample {
  width: 100px;
  height: 75px;
}

.sampleContainer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  gap: 10px;
  border-bottom: 1px solid darkblue;
  padding: 5px;
  font-weight:bolder;
}

.centered {
  align-items: center;
  display: flex;
}

.ivory {
  background-color: #FFFFF0;
  /* border: solid; */
}

.taupe {
  background-color: #D2B48C;
}

.charcoal {
  background-color: #36454F;
  color:white;
}

.white {
  background-color: #FFFFFF;
  /* border: solid; */
}

.black {
  background-color: #000000;
  color: white;
}

.grey {
  background-color: #b0b0b0;
}

.lightPink {
  background-color: #FADADD;
}

.mintGreen {
  background-color: #DFF2E1;
}

.lavender {
  background-color: #E6E6FA;
}


.navyBlue {
  background-color: #001F3F;
  color: white;
}

.lightGrey {
  background-color: #F5F5F5;
}

.cream {
  background-color: #FFFDD0;
}

.beige {
  background-color: #F5DEB3;
}

.terracotta {
  background-color: #E2725B;
}

.lBlue {
  background-color: #E0F7FA;
}

.softGrey {
  background-color: #B0BEC5;
}

.navy {
  background-color: #0D47A1;
  color: white;
  }

  .lightPurple {
    background-color: #BEA6ff;
  }

  .citron {
    background-color: #E6DE89;
  }

  .pumpkin {
    background-color: #FE7520;
  }

.turquoise {
  background-color: #55D6BE;
}

.charcoal2 {
  background-color: #28536B;
  color: white;
}

.maize {
  background-color: #FFED66;
}

.xanthous {
  background-color: #FCBF49;
}

.bittersweet {
  background-color: #FF5E5B;
}

/* . {
  background-color: #;
}

. {
  background-color: #;
}

. {
  background-color: #;
} */