.sample {
  width: 100px;
  height: 75px;
}

.sampleContainer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  gap: 10px;
  border-bottom: 1px solid darkblue;
  padding: 5px;
}

.ivory {
  background-color: #FFFFF0;
  /* border: solid; */
}

.taupe {
  background-color: #D2B48C;
}

.charcoal {
  background-color: #36454F;
}

.white {
  background-color: #FFFFFF;
  /* border: solid; */
}

.black {
  background-color: #000000;
  color: white;
}

.grey {
  background-color: #b0b0b0;
}

.lightPink {
  background-color: #FADADD;
}

.mintGreen {
  background-color: #DFF2E1;
}

.lavender {
  background-color: #E6E6FA;
}

/* . {
  background-color: #;
}

. {
  background-color: #;
}

. {
  background-color: #;
} */

.navyBlue {
  background-color: #001F3F;
  color: white;
}

.lightGrey {
  background-color: #F5F5F5;
}